# Django-specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
bower_components/
jspm_packages/

# Compiled source
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Environment variables
.env

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Virtual environments
venv/
env/

# Python packages
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
.Python

# MacOS files
.DS_Store

# Temporary files
tmp/
temp/
*.tmp
*.swp

# Docker関連のファイルやディレクトリを無視する

# Dockerイメージやコンテナのキャッシュ
**/Dockerfile
**/docker-compose.yml

# Dockerコンテナが生成するファイルやディレクトリ
**/.env
**/.dockerignore
**/.docker

# Dockerボリュームのマウント先（例えば、データベースのデータディレクトリなど）
**/data/
**/logs/
**/db_data/

# Dockerが生成する一時ファイル
**/tmp/
**/*.pid
**/*.sock

# その他のDocker関連ファイル
**/docker-compose.override.yml
**/docker-compose.dev.yml
