Django==5.0.1
djangorestframework==3.14.0
pytest==6.2.4
pytest-django
django-cors-headers
django-crispy-forms
django-imagekit
crispy_bootstrap5
psycopg2-binary
python-dotenv
django-allauth
dj-rest-auth
social_django