{% extends 'staffroom.html' %}

{% block body %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                レシピ一覧
            </div>
            <div class="card-body">
                <table class="table">
                    {% for Taberu in Taberu_list %}
                        <tr>
                            <th>{{ Taberu.title }}</th>
                            <th>
                                <a href="{% url 'Taberu:detail' recipe.id %}"
                                   class="btn btn-primary">詳細</a>
                                <a href="{% url 'staffroom:Taberu:update' recipe.id %}"
                                   class="btn btn-secondary">編集</a>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}
