.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;
  }

  .navbar li {
    float: left;
  }

  .right-menu {
    margin-right: 200px;
  }

  .navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.logo {
  margin-right: 1500px;
}

.logo a{
  color: black;
  text-decoration: none;
}